body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-wrapper {
  padding: 0 1rem;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.filters {
  flex: 0 0 100%;
}

.calendar-wrapper {
  flex: 0 0 30%;
}

.events-wrapper {
  flex: 0 0 57%;
  width: 57%;
  overflow: auto;
  max-height: 565px;
  padding-left: 0.5rem;
}

.highlight {
  color: inherit !important;
  position: relative;
}

.highlight abbr {
  position: relative;
}

.highlight:before {
  content: '';
  background-color: rgb(0, 140, 255);
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -3px;
  width: 6px;
  height: 6px;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
  background-color: #eee !important;
}

.react-calendar__tile--active {
  background: transparent !important;
  color: inherit !important;
  position: relative;
}

.react-calendar__tile--active:before {
  content: '';
  background-color: transparent;
  border: 2px solid rgb(0, 140, 255) !important;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17.5px;
  margin-left: -17.5px;
  width: 35px;
  height: 35px;
}

.single-event {
  border-bottom: 2px solid #666;
}

.react-calendar__tile--hasActive,
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: rgba(0, 140, 255, 0.5);
}

.react-calendar__tile--now {
  background: rgba(0, 140, 255, 0.2) !important;
}

.react-calendar__tile--now.react-calendar__tile--active {
  background: transparent !important;
}

table,
td,
th {
  border: 1px solid;
  text-align: center;
  font-size: 0.8rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.events-list h3 {
  margin-bottom: 0;
  margin-top: 0;
  background-color: #0000ff;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.25rem;
  font-weight: 500;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -0.3rem;
}

.filters label {
  font-size: 0.85rem;
  display: block;
  padding-left: 0.4rem;
  margin-top: 0.5rem;
}

.filters select {
  width: 230px;
  margin: 0.2rem 0.3rem 0.5rem;
  padding: 0.3rem;
  display: block;
}

.filters button {
  background-color: rgb(0, 140, 255);
  border: 1px solid #fff;
  outline: none;
  margin: 0.3rem;
  height: 27px;
  text-transform: capitalize;
  color: #fff;
  width: 65px;
  border-radius: 3px;
  position: relative;
  top: 10px;
}

.loader {
  width: 320px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  padding: 1px;
}

.loader .loaderBar {
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  background: rgb(0, 140, 255);
  width: 0;
  animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }

  10% {
    left: 0%;
    right: 75%;
    width: 25%;
  }

  90% {
    right: 0%;
    left: 75%;
    width: 25%;
  }

  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}

.error {
  color: red;
  margin-bottom: 0.2rem;
}